[GENERAL]
TOKEN="__TOKEN__"
ENABLE_GET_CHAT_ID=True
ADMINS_GROUP_CHAT_ID=ID

[PROXY]
ENABLED=False
URL="http://[IP]:[PORT]/"

[WEB_HOOK]
ENABLED=False
ADDRESS=https://[IP OR DOMAIN]
PORT=PORT
LISTEN=[IP , Using 0.0.0.0 as default]

[OPTIONS]
TELEGRAM_LINK_REMOVER=True
REMOVE_STATUS_MESSAGES=True
GROUP_LINK_ENABLE=True
LOGIN_RESTRICTION=False
REGISTER_TIMER_MINUTES=1


[NUDITY_DETECTION]
ENABLED=False
API_KEY="<API_KEY>"
ACCURACY_THRESHHOLD=0.15
